/* 全局样式表 */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#app {
    max-width: 100%;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
